
.center{
  margin:auto;
  width: 800px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #0000003c;
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.formulaire{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_fieldform{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_fieldform input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_fieldform label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_fieldform span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #FFD685;
  transition: .5s;
}
.txt_fieldform input:focus ~ label,
.txt_fieldform input:valid ~ label{
  top: -5px;
  color: #FFD685;
}
.txt_fieldform input:focus ~ span::before,
.txt_fieldform input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
.formbutton{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #002038;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}
.formbutton:hover{
  background: #80909C;
  transition: .5s;
}
form .txt_fieldmail{
  position: relative;
  margin: 30px 0;
}
.txt_fieldmail input{
  width: 350px;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: solid 2px #002038;
  border-radius:50px;
  background: none;
  outline: none;
  transition: .5s;
}
.txt_fieldmail input:hover{
  border: solid 2px #80909C;
  transition: .5s;
}
.txt_fieldmail label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_fieldmail span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  background: #FFD685;
  transition: .5s;
}
.txt_fieldmail input:focus ~ label,
.txt_fieldmail input:valid ~ label{
  top: -10px;
  color: #FFD685;
}
.txt_fieldmail input:focus ~ span::before,
.txt_fieldmail input:valid ~ span::before{
  width: 100%;
}
.news{
  align-items: center;
  background: white;
  display: flex;
  border-radius: 25px;
  border:solid 2px #0020380b;
  margin: auto;
  width: 1000px;
  height: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 10px 10px 15px #0000003c;
  padding: 10px;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}
.news p {
  margin-left: 2%;
  font-size: 20px;
}
.newsbutton{
  width: 20%;
  height: 50px;
  border: 1px solid;
  background: #FFD685;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.newsbutton:hover{
  background: #FFEBC2;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #002038;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
